/**
  * @name Dark+ Modified
  * @author DevEvil#8745
  * @version Dark+3
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}

/* Remove Dark+'s huge watermark */
.wordmark-2u86JB{
  display: none;
}

/* Add a discord logo in the top left */
.typeWindows-2-g3UY {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/73/Discord_Color_Text_Logo_%282015-2021%29.svg);
  background-position: 5px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  filter: hue-rotate(-329deg) saturate(1.71);
}

/*Change the CSS of messages*/
.cozyMessage-1DWF9U .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  max-width: 95%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 2px;
  border-radius: 0px;
}

/* Muted channel colours */
.modeMuted-2T4MDZ .icon-2W8DHg, .modeMuted-2T4MDZ .name-28HaxV, .modeMuted-2T4MDZ .channelName-3KPsGw {
  color: #4a3564 !important;
}

/*Find or start a conversation*/
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  color: #bb86fc;
  background-color: rgba(74,53,100,0.5);
  border-radius: 10px;
}

/* Search bar at the top of channels */
.searchBar-jGtisZ {
  background-color: var(--darkplus-bg2);
}
.icon-18rqoe {
  height: 20px;
  width: 20px;
  margin-top: 3px;
}
/*Search bar on friends list */
.input-2m5SfJ { 
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0;
}
.medium-2NClDM.iconLayout-3Bjizv {
  height: 30px;
  width: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;   
}
.input-2m5SfJ, .medium-2NClDM.iconLayout-3Bjizv {
  color: #bb86fc;
  background-color: var(--darkplus-bg2);
}
.input-2m5SfJ::placeholder {
  color: #bb86fc;    
}

/* Spoiler fixes */
.theme-dark .spoilerText-27bIiA {
  color: #bb86fc;
}

.theme-dark .spoilerText-27bIiA.hidden-3B-Rum{
  background-color: #660fd1;
}
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum:hover{
  background-color: #9843ff;
}

/* avatar resize */
.avatar-2e8lTP.clickable-31pE3P {
  filter: drop-shadow(0 0 5px);
  color: var(--darkplus-sec);
  width: 60px;
  height: auto;
}

/*Message text configuration*/
.cozy-VmLDNB .header-2jRmjb {
  display: block;
  position: relative;
  padding-left: 15px;
  line-height: 1.375rem;
  min-height: 1.375rem;
  color: var(--text-muted);
  white-space: break-spaces;
  word-wrap: pre-wrap;
}

.cozyMessage-1DWF9U .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  background-color: var(--darkplus-bg2);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  margin-left: 15px;                     
  border-radius: 15px;
  margin-bottom: 10px;
}

.scroller-2XLwLg {
  margin-left:50px;
  background-color:rgb(229, 255, 80);
}